/*css样式重置*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li,
	pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei UI";
}

p {
	text-indent: 2em;
}

button {
	border: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 清除浮动*/
.clear:after {
	content: '';
	display: block;
	clear: both;
}

img {
	border: none;
	vertical-align: top;
}

/*顶部公共样式*/
#wrap {
	width: 100%;
}

/* 设置头部信息 logo和搜索框以及导航栏*/
#header {
	height: 136px;
	background: url("../images/header.png") top center  no-repeat;
	width: 100%;
}

/*设置头部信息logo和搜索框区域*/
#header .ns_area {
	height: 80px;
	width: 1000px;
	margin: 0 auto;
	line-height: 80px;
}

#header .logo a {
	height: 80px;
	display: inline-block;
	float: left;
	padding-left:30px;
}

/*搜索框样式*/
#header .top_search {
	float: right;
}

#header .button_group {
	position: absolute;
	width: 100px;
	top: 35px;
	left: 1200px;
}

.button_group a {
	color: #000000;
}
/*#header .button_group{
    float:right;
}*/
#header .top_search input {
	line-height: 30px;
	padding-left: 15px;
	border-radius: 5px;
	width: 230px;
}

#header .top_search button {
	width: 63px;
	height: 26px;
	position: relative;
	top: 10px;
	background: url("../images/search.png") no-repeat;
	border-radius: 10px;
	cursor: pointer;
}

/*导航栏样式表*/
#header .nav_menu {
	height: 45px;
	width: 100%;
	margin: 0 auto;
	border-top: 3px solid #cb0d0d;
	border-bottom: 1px solid #d9d9d9;
	box-shadow: 0px 2px #f3f3f3;
}

#header .nav_menu ul {
	width: 1000px;
	margin: 0 auto;
}

.nav_menu li {
	float: left;
	text-align: center;
}

.nav_menu a {
	color: #000;
	font-size: 20px;
	display: inline-block;
	width: 120px;
	padding: 10px;
}

.nav_menu a:hover {
	background: #dc0000;
	border: 1px solid #dc0000;
	border-width: 0 1px;
	color: #fff;
}

#footer {
	background: #fafafa;
	margin: 50px auto 0 auto;
	width: 100%;
	text-align: center;
	font-size:12px;
}

#footer p{
	font-size:12px;
}

.nav_menu .active {
	background: #dc0000;
	color: #ffffff;
	font-size: 20px;
	display: inline-block;
	width: 120px;
	padding: 10px;
}